<h1>体重グラフ</h1>
<%= link_to new_chart_path do %>
  <h2>自分の体重を入力しよう！︎</h2>
<% end %>

<%= line_chart @chart_data, width: "800px", height: "500px" %>

<%= line_chart @chart_data, id: "users-chart", height: "500px" %>

<%= line_chart @chart_data, min: 1000, max: 5000 %>

<%= line_chart @chart_data, colors: ["pink", "#999"] %>
