<h1>体重グラフ</h1>
<%= link_to chart_new_path do %>
  <h2>自分の体重を入力しよう！︎</h2>
<% end %>

<%= line_chart @data %>
<%= line_chart @data, width: "800px", height: "500px" %>
<%= line_chart @data, id: "users-chart", height: "500px" %>
<%= line_chart @data, min: 1000, max: 5000 %>
<%= line_chart @data, colors: ["pink", "#999"] %>