<!DOCTYPE html>
<html>
  <head>
    <title>MuscleStone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- fontawesome読み込み -->
    <link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />

    <!-- appliation.scss,application.jsの読み込み-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    
    <%= render 'layouts/footer' %>
    <script>
      <!-- アラートを4秒で消す -->
      $(function(){
        $(".alert").fadeOut(4000);
      });
    </script>
  </body>
</html>
